    .font-login {
    font-family:cloud;
    font-size: 20pt;
    margin-top: 140px;
    text-align: center;
    color: #ECAE67;
  }
     /* .login_box {
     padding-top: -80px; 
    text-align: center;
    font-family: cloud;
    color: #ECAE67;
    font-size: 18pxs;
    margin-top: 50px; 
    }  */
    .button{
    background-color:#ECAE67; 
    border: none;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: auto;
    cursor: pointer;
    border-radius: 16px;
    font-family: cloud;
    font-size: 20px;
    justify-content: center;
    margin-top: 50px;
    border-radius: 30px;
   } 

 .input-group {
  display: flex;
  position: relative;
  left: 30px;
  top: 15px;
  border: 3px solid none;
  width: 320px;
  height: 50px;
  margin-top: 20px;
}

.input-icon {
  width: 65px;
  height: 50px;
  left: 25px;
  border: 3px solid #ECAE67;
  background-color: #ECAE67;
  border-radius: 30px 0px 0px 30px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

}

input{
  /* position: absolute; */
  border-radius: 0px 30px 30px 0px;
  left: 60px;
  /* top: 2px; */
  width: 250px;
  height: 50px;
  border: 3px solid #ECAE67;
  font-family: cloud;
  color: #ECAE67;
  font-weight: 500;
  font-size: 20px;
  padding: 12px 20px 12px 10px

}

.register{
  font-family: cloud;
  font-size: 18px;
  text-align: center;
  color: #ECAE67;
  margin-top: 60px;
}
@font-face {
  font-family: Bahnschrift;
  src: url(/statics/font/Cloud-Light.woff);
}

div {
  font-family: Cloud;
}