@font-face {
  font-family: cloud;
  src: url(/statics/font/Cloud-Light.woff);
}

div {
  font-family: cloud;
}

@font-face {
  font-family: TH sarabun new;
  src: url(/statics/font/thsarabunnew-webfont.woff);
}

div {
  font-family: TH sarabun new;
}