.back_button {
    background-color: #ecae67;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    /* display: flex; */
    /* margin: auto; */
    cursor: pointer;
    border-radius: 30px;
    font-family: cloud;
    font-size: 20px;
  }
  .back_button_position {
    position: fixed;
    bottom: 25px;
    right: 15px;
  }

  .name{
    background-color: #ecae67;
    width: 120px;
    height: 45px;
    background-color: #ECAE67;
    border-radius: 30px;
    font-family: cloud;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}

.logo-name-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-left: 100px;
    margin-top: 20px;  
    */
    /* border-color: blueviolet; */
    border: 3px solid red;
}

